h1 {
    font-family: 'Verdana', sans-serif;
}

p {
    color: #0000FF;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;

    /* left - center, right, justify */
    text-align: justify; 
}

a {
    color: red;
    text-decoration: line-through;
}
